<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>О программе</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
    <label for="taskName">Имя задачи</label>
    <h3 th:text="${userTask.taskName}" id="taskName"></h3>
<br>
<p th:text="${interrupt}"></p>
<br>
<div>
    <label for="discription">Описание задачи</label>
    <textarea rows="5" cols="40" th:text="${userTask.description}" id="discription"></textarea>
</div>

<br>
<div>
    <label for="files">Прикрепленные файлы</label>
    <div th:each="file : ${userTask.getFiles()}"   id="files">
        <a th:href="'/user/file/'+${file.getId()}+'/'+${userTask.getId()+'/'+4}" th:text="${file.getName()}"></a>
    </div>
</div>

<br>
<label for="mastertask">Инициатор задачи</label>
<p th:text="${userTask.getMasterTask().getLogin()}" id="mastertask"></p>

<br>
<label for="target">Адресаты задачи:</label>
<p th:each="targetUser : ${targetUsers}" th:text="${targetUser.getLogin()}" id="target"></p>

<br>
<label for="signatures">задача согласованна следующими сотрудниками:</label>
<p th:each="signature : ${userTask.getSignatures()}" th:text="${signature.getLogin()}" id="signatures"></p>


<form th:action="@{/user}" th:method="POST">
    <button type="submit">Выход</button>
</form>
</body>
</html>